.ranking-table td {
    background: url(/asgard/static/img/image.png) no-repeat;
}

.ranking-table td.i0 {
    background-position: 0 0;
    width: 28px;
    height: 16px;
}

.ranking-table td.i1 {
    background-position: 0 -26px;
    width: 28px;
    height: 16px;
}

.ranking-table td.i2 {
    background-position: 0 -52px;
    width: 28px;
    height: 16px;
}

.ranking-table td.i3 {
    background-position: 0 -78px;
    width: 29px;
    height: 16px;
}

.ranking-table td.i4 {
    background-position: 0 -104px;
    width: 29px;
    height: 15px;
}

.ranking-table td.i5 {
    background-position: 0 -129px;
    width: 28px;
    height: 18px;
}

.ranking-table td.i6 {
    background-position: 0 -157px;
    width: 30px;
    height: 17px;
}

.ranking-table td.i7 {
    background-position: 0 -184px;
    width: 29px;
    height: 17px;
}

.ranking-table td.i8 {
    background-position: 0 -211px;
    width: 28px;
    height: 16px;
}

.ranking-table td.i9 {
    background-position: 0 -237px;
    width: 28px;
    height: 18px;
}

.ranking-table td.i10 {
    background-position: 0 -265px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i11 {
    background-position: 0 -293px;
    width: 29px;
    height: 24px;
}

.ranking-table td.i12 {
    background-position: 0 -327px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i13 {
    background-position: 0 -355px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i14 {
    background-position: 0 -383px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i15 {
    background-position: 0 -411px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i16 {
    background-position: 0 -439px;
    width: 29px;
    height: 18px;
}

.ranking-table td.i17 {
    background-position: 0 -467px;
    width: 24px;
    height: 24px;
}

.ranking-table td.i18 {
    background-position: 0 -501px;
    width: 24px;
    height: 24px;
}

.ranking-table td.i19 {
    background-position: 0 -535px;
    width: 24px;
    height: 24px;
}

.ranking-table td.i20 {
    background-position: 0 -569px;
    width: 24px;
    height: 24px;
}

.ranking-table td.i21 {
    background-position: 0 -603px;
    width: 24px;
    height: 24px;
}

.ranking-table td.i22 {
    background-position: 0 -637px;
    width: 24px;
    height: 24px;
}