{% extends 'header.html' %} 
{% load static %} 
{% block title %}Home{% endblock %}
{% block 'home' %}
<script src="{% static 'js/spa.js' %}"></script>
  <section class="h-full w-full flex justify-center">    
    <div class="w-full max-w-7xl mx-10 my-10">
      
      <span class="flex mt-100"> 
        <div id="01coluna" class=""> 
          {% include "components/videoplayer.html" %}
          {% include "components/morebuttons.html" %}
          {% include "components/news.html" %}
        </div>
        
        <div id="02coluna" class=""> 
          {% include "components/buttons.html" %}
          {% include "components/overview.html" %}
          {% include "components/rankings.html" %}
        </div>
      </span>
    </div>
  </section>
{% endblock %}