{% load static %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title data-translate="page_title" 
      data-en="Shaiya Asgard - Episode 4"
      data-es="Shaiya Asgard - Episodio 4" 
      data-th="Shaiya Asgard - ตอนที่ 4" 
      data-pt="Shaiya Asgard - Episódio 4">
   Shaiya Asgard - Episode 4
    </title>
    <meta name="description"
        content="A unique Essence server, that is built based on new, unseen, unique, and interactive ideas and changes, to provide the best game experience for the players of our precious game Essence." />
    <meta name="keywords"
        content="shaiya asgard, asgard shaiya, shaiya ep5, shaiya episode 4.5, shaiya best PvP, shaiya best server, world of shaiya, worldofshaiya, shaiya os, shaiya games, shaiya top, shaiya 2025, aeria games, fawkes games, shaiya fawkes, fawkes shaiya" />
    <meta name="author" content="Discord: @cuspe" />
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static './img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>    
  </head>